.card {
    background-color: #fff;
    color: #333;
    border-radius: 15px;
    padding: 20px 20px;
    margin: 20px 20px;
    position: relative;
    font-size: 13px;
    position: relative;
}



.num_display {
    background: #ff6a95;
    color: #fff;
    width: 30px;
    height: 30px;
    padding: 5px;
    text-align: center;
    border-radius: 50%;
    font-size: 11px;
    border: 1px #eee solid;

    position: absolute;
    top: -10px;
    left: -10px;
}

.btn_remove {
    background: none;    /* Remove button background */
    border: none;        /* Remove button border */
    padding: 0;          /* Remove button padding */
    margin: 0;           /* Ensure no extra margin */
    cursor: pointer;     /* Show pointer cursor */
}

.btn_remove i {
    color: #202142;
    font-size: 11px;
    position: absolute;
    top: 10px;
    right: 10px;
}

